label{display: inline-block;text-align: right;width: 190px;}
input[type=submit],input[type=reset]{margin-left: 170px;padding: 10px;width: 170px;}
.line{margin: 20px;}

.right {
    text-align: right;
}
#confirm{
    border: solid 2px brown;
    padding: 10px;
    background-color: lightsalmon;
}
#wrapper{
    display: flex;flex-direction: row;
}
#wynik{width: 50%;border: solid rgb(87, 87, 87) 1px;background-color: rgb(211, 210, 210);padding: 5px;}