body{
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
#up{display: flex; flex-direction: row;}
#gorny1, #gorny2{
    background-color: rgb(197, 85, 160);
    text-align: center;
    width: 50%;
    height: 180px;
}
#baner, #stopka{
    background-color: rgb(246, 226, 222);
    text-align: center;
    height: 100px;
    padding: 10px;
}
#main{display: flex;flex-direction: row;}
#lewy, #prawy{
    background-color: rgb(197, 85, 160);
    color: white;
    width: 50%;
    height: 400px;
}
#gorny2 a{
    background-image: url("cukierki1.png");
    padding-right: 70px;
    padding-bottom: 120px;
    font-weight: 150%;
    text-decoration: none;
}
table, td{
    border: 2px solid blue;margin: 20px; padding: 10px;
}
h2{
    font-size: 200%;
    letter-spacing: 10px;
}