.line{margin: 10px;}
label{display: inline-block;
      width: 230px;
     text-align: right;}
input[type=radio],input[type=checkbox]
,input[type=submit]{
    margin-left: 233px;
}
input[type=submit]
     {width: 160px;padding: 8px;}
.wynik{
    text-align: center;
    border-radius: 10px;
    border: solid 1px brown;
    padding: 10px;
    margin: 20px;
}
.form{    
    transition: opacity 3s;
    opacity: 0;
    border-radius: 5px;
    border: solid 1px grey;
    box-shadow: 5px 5px 4px rgb(183, 218, 183);
   margin: 20px 60px;
   padding: 10px;
}
.loaded{
    opacity: 1;
}