.line{margin: 10px;}
label{display: inline-block;
      width: 230px;
     text-align: right;}
input[type=radio],input[type=checkbox]
,input[type=submit]{
    margin-left: 233px;
}
input[type=submit]
     {width: 160px;padding: 8px;}
.wynik{
    text-align: center;
    border-radius: 10px;
    border: solid 1px brown;
    padding: 10px;
    margin: 20px;
}