body{margin: 0;padding: 0;}
.table{
    border-collapse: collapse;
    margin: 20px;
    border: solid black 1px;
}
.table-full{
    width:80%;
}
.right{ text-align: right;}
td,th{border: solid 1px black;padding: 6px;}
th{background-color: rgb(59, 56, 56);color: white;}
tr:nth-child(even){background-color: rgb(186, 186, 206);}
.main{
    display: flex;
    flex-direction: row;
}
.main div{width: 50%;}
