#lewy,#prawy{
    float: left;
    height: 600px;
   
}
#lewy{
    width: 40%;
    background-color: #FF8989;
}
#prawy{
   width: 60%;
   background-color: #7872D9;
}
#stopka{
    background-color: black;
    color: white;
    clear: both;
    font-size: 1.5em;
    text-align: right;
}
table{
    margin: 20px;border-collapse: collapse;
}
td{
    padding: 30px;
    border: solid brown;
}
h1{
    text-align: center;
}
input[type=button]{
    padding: 10px;
    margin: 10px;
    border: 2px solid blue;
    background-color: cyan;
    font-size: 20px;
}