#baner{
    font-family: 'Anton';font-size: 80px;
    font-weight: bold;
    background-color: coral;
    height: 150px;
    padding: 32px;
    color: darkred;
    text-transform: capitalize;
    display: flex;
    align-content: flex-end;
}
#first{width: 80%;}
body{padding: 0; margin: 0;}
#wrapper{
    display: flex;
}
nav{width: 300px;height: 500px;margin: 10px;}
div#main{height: 500px;}
nav a{text-decoration: none;color: brown;display: inline-block; border: solid brown 1px;
    border-radius: 5px; padding: 15px; width: 80%;margin-bottom: 5px;}
nav ul{list-style: none;margin: 0;padding: 0;}
nav a:hover{background-color: rgb(207, 163, 121);}
table{border-collapse: collapse;margin: 30px;}
th,td{border: solid 1px brown;padding: 8px;}
th{background-color: rgb(175, 128, 113);color: brown;}
/* tr:hover{background-color: rgb(207, 191, 178);} */
.btn1{display: inline-block;text-decoration: none;border:solid lightsalmon 2px;border-radius: 4px;width: 180px;
padding: 6px;text-align: center; color: brown;}
.btn1:hover{background-color: brown;color: lightsalmon;}
.info{font-size: 1.2em;font-weight: bold;color: chocolate;margin: 20px 30px;}
.line{margin: 20px;}
label{display: inline-block;text-align: right;width: 150px;}
fieldset{border: solid brown 1px;border-radius: 5px;}
form{color: brown;}
input[type=submit]{background-color: brown;color: lightsalmon;padding: 6px;border-radius: 4px;width: 150px;
border:solid 1px black}